<html>
<head>
    <title> I spent all this time on a joke... </title>
</head>
<body>
<h1> I spent all this time on a joke... </h1>


<br />
Phr0st_Byte,
<br />
    I would support you.
<br />
    Love,<br />
The person who sits next to your favorite student<br />
a.k.a.<br />
Isaac

</body>

</html>