<html>
<head>
    <title>Add New Account</title>
</head>
<body>
<h1>Add New Account</h1>
<form action="/account/insert" method="get">

    <br />
    <br />
    Account Name: <input id="account_name" name="account_name" type="text" />
    <br />
    <br />
    Level: <input id="level" name="level" type="text" />

    <input type="submit" />

</form>
</body>

</html>