<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>By: Isaac Henry </p>
  <a href="/account/all">Account - View All</a><br/>
    <a href="/game/all">Game - View All</a><br/>
    <a href="/hanzo/all">Hanzo - View With Game info</a><br/>
    <a href="/dva/all">DVA - View With Game info</a><br/>
    <a href="/roadhog/all">Roadhog - View With Game info</a><br/>
    <a href="/lucio/all">Lucio - View With Game info</a><br/>
    <a href="/Trollolol">Accounts That Should Play Overwatch</a><br/>
    <a href="/about">About Page</a><br/>
  </body>
</html>
