<html>
<head>
    <title>Roadhog - <%= result[0].game_id %></title>
</head>
<body>
<h1>Roadhog</h1>
<ul>
    <li>Game ID: <%= result[0].game_id%></li>
    <li>Map Name: <%= result[0].map_name %></li>
    <li>Win/Lose: <%= result[0].win_or_lose %></li>
</ul>
</body>

</html>