<html>
<head>
    <title>Games - <%= result[0].map_name %></title>
</head>
<body>
<h1>Games</h1>
<ul>
    <li>Game ID: <%= result[0].game_id%></li>
    <li>Map Name: <%= result[0].map_name %></li>

</ul>
</body>

</html>