<html>
<head>
    <title> About Page </title>
</head>
<body>
<h1> Purpose of the Website </h1><br />
<br />
To show the stats with characters I play most in Overwatch which is a game by Blizzard. I wanted to see which characters I did the best with on each map.<br />
<br /> The company is Blizzard they are a gaming company that handles many accounts with access to any of their games with purchase. <br />
<br />
Contact Information: Blank@blankandboring.com<br />
<br /><br />
<img src="http://i1383.photobucket.com/albums/ah281/lngavar/ERdiagram_zps5zzozolj.jpg" alt="ER Diagram" style="width:800px;height:900px;"><br />
<img src="http://i1383.photobucket.com/albums/ah281/lngavar/RelationalSchema_zpsk8uidmjh.jpg" alt="Relational Schema" style="width:800px;height:900px;">
</body>

</html>